.Itemlist {
    font-size: 20px;
    color: rgb(73, 23, 23);
}

.banner {
    width: 100%;  /* Ajusta el ancho según sea necesario */
    max-height: 580px;  /* Ajusta la altura máxima según sea necesario */
    object-fit: cover;  /* Ajusta el ajuste del objeto para cubrir el contenedor */
   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Añade una sombra suave */
  }